.player-button {
  background-color:transparent; border:none; cursor:pointer; color:white;
  font-size: 20px; margin-top: 0px; margin-bottom: 9px; margin-left: 4px; margin-right: 4px}
#player{
  width: 800px; height: 600px; box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
  display: flex; flex-direction: column
}
.left-buttons{display: flex; flex-direction: row;}
.bottom-controls{background-color:black; display: flex; flex-direction: row;}
.panel-distance{flex-grow: 1}
.js-video-container{flex-grow: 5}
